<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <h1>Added a new Bigfoot Sighting with</h1>
    <span>
        <p> YEAR: <%= sighting.year %></p>
        <p> STATE: <%= sighting.season %></p>
        <p> STATE: <%= sighting.state %></p>
        <p> COUNTY: <%= sighting.county %></p>
        <p> LOCATION_DETAILS: <%= sighting.location_details %></p>
        <p> OBSERVED: <%= sighting.observed %></p>
    </span>
    <br>
    <a href="/sightings"> Back to all sightings</a>
  </body>
</html>